body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.header-bg {
    z-index: -9;
    position: absolute;
    background-image: url(img/bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    right: -54%;
    top: 45%;
    height: 900px;
    width: 100%;
    opacity: 0.4;
    -webkit-border-bottom-left-radius: 60px;
    -moz-border-radius-bottomleft: 60px;
    border-bottom-left-radius: 60px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#logo-title {
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: -1px;
    position: relative;
    float: left;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

a {
    color: #000;

    .selected {
        color: $aqua !important;
    }

    &:hover {
        color: $aqua !important;
        text-decoration: none;
    }
}

.main-nav {
    ul {
        margin: 0;
        padding: 0;
        border: 0;
        list-style: none;
        line-height: 1;
        display: block;
        float: left;
        position: relative;

        li.menu-item {
            display: inline-block;
            padding: 0;

            a {
                height: 70px;
                line-height: 70px;
                color: $black;
                font-size: 14px;
                display: inline-block;
                letter-spacing: 0.5px;
                padding: 0 30px;
                margin: 0;
                font-weight: 400;
                overflow: hidden;
                text-transform: uppercase;
            }
        }
    }
}

section#intro {
    margin-top: 60px;

    .section-title {
        strong {
            font-weight: 900;
            font-size: 52px;

            span {
                color: $light-purple;
            }
        }
    }

    .section-text {
        padding: 0 0 40px 0;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0.4px;
        clear: both;
        color: $light-dark;

        .highlight {
            margin-top: 40px;
            color: $aqua;
            font-size: 20px;

            span {
                color: $light-purple;
                font-weight: 700;
            }
        }
    }
}

a.button {
    padding: 12px 40px;
    margin: 0 20px 0 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.btn-aqua {
    color: $white;
    background-color: $aqua;
    border: 2px $aqua solid;

    &:hover {
        background-color: transparent;
        color: $aqua;
    }
}

.btn-flat-aqua {
    color: $white;
    background-color: transparent;
    border: 1px solid $aqua;

    &:hover {
        color: $white;
        background: $aqua;
    }
}

.btn-purple {
    color: $white;
    background-color: $light-purple;
    border: 2px $light-purple solid;

    &:hover {
        color: $light-purple !important;
        background-color: transparent;
        border: 2px $light-purple solid;
    }
}

.btn-flat-purple {
    border: 1px solid $light-purple;
}

.btn-icon-play {
    background-image: url(img/btn-play.png);
    background-position: 90% 50%;
    background-repeat: no-repeat;
    padding-right: 60px !important;
}

h1.sect-title {
    text-align: center;
    padding: 0 0 40px 0;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin: auto;
        width: 50px;
        height: 1px;
        background: #454545;
    }
}

.center-text {
    text-align: center;
}

section {
    padding-top: 100px;
}

section#features {
    margin-top: 60px;

    .features-grid {
        margin-top: 60px;
    }

    .feature-item {
        margin-bottom: 80px;

        &:hover {
            h5 {
                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }
        }

        h5 {
            padding: 10px 0 40px 0;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 80%;
                margin: 0;
                width: 40px;
                height: 1px;
                background: $light-purple;
                opacity: .5;
                -webkit-transition: all .5s ease-out;
                -moz-transition: all .5s ease-out;
                -o-transition: all .5s ease-out;
                transition: all .5s ease-out;
            }

            span {
                font-weight: 300;
            }
        }
    }
}

section#api-section {
    background-color: $sect-bg;
    padding: 50px 0;

    .tabs-container {
        border-bottom: 1px #ddd solid;
        margin-top: 30px;
    }

    p.content-tab {
        width: 100%;
        padding: 20px 10px;
        text-align: center;
    }

    .active-tab {

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 60%;
            height: 4px;
            background: $light-purple;
        }
    }

    .code-content {
        width: 100%;
        margin-top: 40px;
        background-color: $white;
        padding: 40px;

        strong {
            color: $light-purple;
            font-weight: 700;
        }
    }

    .actions-box {
        padding: 30px;
        width: 100%;
        background-color: $boxes-bg;
        text-align: right;
    }
}

section#prices {
    .container {
        padding-top: 30px;
    }

    .col-md-3 {
        padding: 0 !important;
    }
}

.tier-container {
    padding: 50px 0;

    h5 {
        &:hover {
            &:after {
                width: 80%;
            }
        }
    }

    h5 {
        text-transform: uppercase;
        text-align: center;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 18%;
            margin: auto;
            width: 50px;
            height: 1px;
            background: #454545;
            -webkit-transition: all .5s ease-out;
            -moz-transition: all .5s ease-out;
            -o-transition: all .5s ease-out;
            transition: all .5s ease-out;
        }
    }

    h2 {
        text-align: center;

        span {
            font-size: 16px;
            margin-top: -10px;
        }

        b {
            font-size: 16px;
        }
    }

    ul {
        width: 100%;
        padding: 10px 25px;
        list-style: none;

        .item-not-included {
            color: $light-dark;
            text-decoration: line-through;
        }

        li {
            background-image: url(img/checked-pricing.png);
            background-repeat: no-repeat;
            background-position: 0%;
            padding-left: 30px;
            line-height: 24px;

            span {
                font-weight: 700;
            }
        }


    }

    a {
        width: 70%;
        margin: 0 auto;
        display: block;
        padding: 12px 60px;
        font-size: 14px;
        letter-spacing: 0.5px;
        font-weight: 400;
        text-align: center;
        text-transform: capitalize !important;
    }
}

.popular-tier {
    margin-top: -23px;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.404);
    overflow: hidden;
    position: relative;
    background-color: $light-purple !important;
    color: white !important;

    ul {
        li.item-not-included {
            color: $white;
        }

        li {
            background-image: url(img/checked-pricing-white.png);
        }
    }

    h5 {
        font-size: 40px;

        &:after {
            background: $white !important;
            top: 22%;
        }
    }

    .popular-badge {
        background-color: $aqua;
        height: 150px;
        left: -125px;
        position: absolute;
        top: -80px;
        width: 250px;
        -webkit-transform: rotate(-45deg);

        span {
            color: $white;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1.005em;
            left: 90px;
            top: 120px;
            position: absolute;
            width: 80px;
        }
    }
}

section#experts {
    margin-top: 50px;
    padding: 40px 0;
    background-image: url(img/world-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: $sect-bg;

}

.plazos {
    padding: 15px 0;

    .btn-flat-purple {
        padding: 15px
    }

    .seleccionado {
        background-color: $light-purple;
        color: $white;
    }
}

.datos {
    margin-top: 30px;

    table {
        width: 100%;

        td.item-tit {
            text-align: right;
        }

        td.item-val {
            text-align: left;
            padding-left: 5px;
        }
    }
}

.calculator-subtitle {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    text-align: right;
}

.calculator-container {
    background-color: $white;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.17);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

ul.clients-feature-list {
    list-style: none;

    li {
        background-image: url(img/checked.png);
        background-repeat: no-repeat;
        background-position: center left;
        padding-left: 25px;
        line-height: 24px;
    }
}

.faq-widget {
    color: $light-dark;

    h4 {
        padding: 10px;
        margin: 0px;
        font-size: 18px;
        font-weight: 300;
        background-image: url(img/drop-down-faq.png);
        background-position: 98% 59%;
        background-repeat: no-repeat;
    }

    div {
        padding: 10px;
        background-color: $sect-bg;
        display: none;
    }

    .faq-active-tit {
        background-color: $aqua;
        color: $white;
    }

    .faq-active-content {
        display: block;
    }
}

.faq-features-container {
    padding: 40px 30px;
    background-color: $sect-bg;

    h5 {
        margin-top: 10px;

        &:after {
            content: ' ';
            height: 1px;
            width: 40px;
            margin-top: 7px;
            display: block;
            background-color: $aqua;
        }
    }

    a {
        margin-top: 10px;
    }

    &:hover {
        background-color: $aqua;
        color: $white;
        box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.18);
        transform: translate(0, -10px);
        -webkit-transform: translate(0, -10px);
        -moz-transform: translate(0, -10px);
        transition: all .3s ease-out;

        h5 {
            &:after {
                background-color: $white;
                width: 100%;
            }
        }

        a.btn-purple {
            background-color: transparent;
            border-color: $white;
        }
    }
}

.clients-bar {
    text-align: center;
    margin: 60px 0px;
    display: flex;
    flex-wrap: wrap;

    .col-5 {
        flex: 1 0 18%;
        margin: 5px;
        height: 50px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

section#wave {
    padding: 50px 0px;
    background-color: $sect-bg;

    h1.sect-title {
        font-size: 46px;
        font-weight: 300;

        span {
            color: $light-purple;
        }

        &:after {
            display: none;
        }
    }

    a.button {
        padding: 10px 60px;
    }
}

section#footer {
    color: $black;
    padding: 60px 0px;
    background-image: url(img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;

    ul {
        list-style: none;
        padding: 0px;

        li {
            padding: 0px;
            line-height: 34px;
        }
    }
}